/* * {
    border: 1px solid black;
} */


/* Body */
body {
    margin: 0;
}


.sign-up-button {
    border-radius: 10px;
    height: 40px;
    width: 150px;
}

.hero-section .sign-up-button {
    background-color: #3882F6;
    border: none;
    color: #f9faf8;

}

#coa-container .sign-up-button {
    background-color: transparent;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    
}

.section1 {
    padding: 100px;
    padding-top: 0px;
}

/* Section 1 */
.section1 {
    background-color: #1F2937;
}

/* Header */
.header {
    display: flex;
}

.header-logo {
    flex: 1;
    color: #f9faf8;
}
/* Links */
.header-links {
    
    
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


/* Hero */
.hero-section {
    display: flex;

}

.hero-contents h1 {
    color:#f9faf8 ;
}

.hero-contents p {
    color:#E5E7EB ;
    flex-wrap: wrap;
    
}

#hero-image {
    width: 450px;
    height: 250px;
}

#hero-button {
   background-color: #3882f6;
}

/* information*/
#info-heading {
    color: #1F2937;
    text-align: center;
}

.info-section {
    display: flex;
    justify-content: space-around;
}

.info-container{
    width: 150px;
}

.info-container p {
    text-align: center;
}

.info-container img {
    height: 150px;
    width: 150px;
    border: 3px solid  #3882f6;
    border-radius: 20px;
}







/* Quote section */
.quote-section {
    background-color: #E5E7EB;
    
}

.quote-section h3 {
    margin: 0;
}

.quote {
    color: #1F2937;
    font-weight: lighter;
    
}

/* Call to action */
#coa-container {
    background-color: #3882F6 ;
    
}

#coa-content h1 {
    margin: 0;
    color: #f9faf8;
}

#coa-content p {
    color: #E5E7EB ;
}

/* Footer */
.footer {
    background-color: #1F2937;
    color: #f9faf8;
   
}

.footer p {
    margin: 0;
}