/* * {
    border: 1px solid black;
} */


/* Body */
body {
    margin: 0;
    /* font-family: Monospace, 'Courier New', Courier, monospace ; */
}


.sign-up-button {
    border-radius: 10px;
    height: 40px;
    width: 150px;
}

.hero-section .sign-up-button {
    background-color: #3882F6;
    border: none;
    color: #f9faf8;

}



.section1 {
    padding: 100px;
    padding-top: 0px;
}

/* Section 1 */
.section1 {
    background-color: #1F2937;
}

/* Header */
.header {
    display: flex;
}

.header-logo {
    flex: 1;
    color: #f9faf8;
}
/* Links */


ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


/* Hero */
.hero-section {
    display: flex;

}

.hero-contents h1 {
    color:#f9faf8 ;
}

.hero-contents p {
    color:#E5E7EB ;
    flex-wrap: wrap;
    
}

#hero-image {
    width: 450px;
    height: 250px;
}

#hero-button {
   background-color: #3882f6;
}

/* information*/
#info-heading {
    color: #1F2937;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 75px;
    font-size: 35px;
}

.info-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
    
    
}

.info-container{
    width: 150px;
}

.info-container p {
    text-align: center;
}

.info-container img {
    height: 150px;
    width: 150px;
    border: 3px solid  #3882f6;
    border-radius: 20px;
}

/* Quote section */
.quote-section {
    background-color: #E5E7EB;
    justify-content: center;
    display: flex;
    padding: 100px;
    align-items: center;
}

.quote {
    color: #1F2937;
    height: 200px;
    width: 1000px;
    font-size:30px;
    flex: 1 1 1;
}

.quote h5 {
    margin: 0;
    text-align: end;
}

.quote p {
    margin: 0px;
}


/* Call to action */
#coa-container {
   
    
}

.coa-section {
    padding: 100px;
    display: flex;
    justify-content: center;
}

#coa-container {
     background-color: #3882F6;
     padding: 30px;
     border-radius: 10px;
     height: 100px;
     width: 800px;
     display: flex;
     align-items: center;
     justify-content: center;
}


#coa-content h2 {
    margin: 0;
    color: #f9faf8;
    flex: 1;
    width: 500px;
    font-size: 25px;
}

#coa-content p {
    color: #E5E7EB ;
}

#coa-container .sign-up-button {
    background-color: transparent;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    /* align-self: center; */
    
}

/* Footer */
.footer {
    background-color: #1F2937;
    color: #f9faf8;
   
}

.footer p {
    text-align: center;
    margin: 0;
}